* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.green {
    color: #1AC056;
    font-weight: 400;
}

h2 {
    font-size: 30px;

}

.clear {
    clear: both;
}

/*NAWIGACJA*/

#menu {
    background-color: #F9FCFE;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

}

#menu ul .menu-item {
    display: inline-block;
    line-height: 50px;
    margin: 0 60px;

}

#menu ul .menu-item a {
    text-decoration: none;
    color: #1AC056;

}

.menu-item a:hover {
    color: firebrick;
}

/*TYTUŁ*/

#header {
    position: relative;
    text-align: center;
}

#img {
    background-image: url(../img/header-background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 50px;
}

.header {
    position: absolute;
    top: 50%;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    color: #FFF;
    transform: translateY(-50%);
}

.header h1 {
    font-size: 70px;
    font-weight: 100;
}

.header h2 {
    font-size: 50px;
    font-weight: 100;
}

/*O MNIE*/

#about {
    overflow: hidden;
    text-align: center;
    padding: 0 20px;
}

#container {
    text-align: center;
}

.about-inner {
    float: left;
    width: 50%;
    margin: 0;
    display: inline-block;
}

.about-inner img {
    width: 50%;

}

.about-inner p {
    margin: 60px;
    text-align: left;
}

/*UMIEJĘTNOŚCI*/

#skills {
    text-align: center;
    padding: 0 20px;
}

.icons {
    display: inline-block;
    align-items: center;
}

/*PORTFOLIO*/

#portfolio {
    text-align: center;
    padding: 0 70px;
    font-weight: 100;
}

.foto {
    height: 350px;
    width: 33.333%;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    color: #FFF;
}

.background1 {
    background-image: url(../img/portfolio1.jpg);
}

.background2 {
    background-image: url(../img/portfolio2.jpg);
}

.background3 {
    background-image: url(../img/portfolio4.jpg);
}

.mask {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    padding: 10px;
    opacity: 0;
    transition: all 0.4s;
}

.mask:hover {
    opacity: 1;
}

.border {
    height: 100%;
    position: relative;
    border: 2px solid #FFF;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*FORMULARZ KONTAKT*/

h2 {
    font-weight: 200;
}

#contact {
    background-color: #213B50;
    color: #FFF;
    margin-top: 60px;
    padding: 40px;
    font-weight: 300;
    
}

address {
    margin: 20px 0 50px 0;
    font-style: normal;
}

.info,
form {
    float: left;
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
    color: #FFF;
}


.socmed {
    display: inline-block;
    border: 1px solid;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    text-align: center;
}

.socmed .fa {
    line-height: 50px;
}

.socmed:hover {
    background-color: #FFF;
    color: #213B50;
}

input,
textarea {
    background-color: #2B4961;
    display: block;
    padding: 5px;
    outline: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    color: #FFF;
}

input[type="submit"] {
    background-color: #1AC056;
    color: #FFF;
    border: 1px solid;
    text-align: center;
    width: 20%;
    float: right;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #1AC056;
    background-color: #FFF;
}

/*FOOTER*/

footer {
    background-color: #122836;
    color: #FFF;
    padding: 0 60px;
}

footer p {
    margin: 0;
}

#mobile-menu,
#respons {
    display: none;
}